#block{
    float: left;
    width: 50%;
}

#textSearch{
    width: 50%;
}

#boldText{
    font-weight: bold;
}

#addButton{
    float: right;
}

#programText{
    float: right;
}

#breakForm {
    margin:0 auto;
}